*{
    background-color: #456639;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:antiquewhite;
}
body{
    font-size: 16px;
    position: relative;
}
#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
}

.modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
}