@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color: #141414;
}
a, .btn{
    transition: all 0.3s ease;
}
nav, .navlinks{
    display:flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.navlinks{
    gap: 2rem;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration-color: rgb(226, 226, 226);
    color: #141414;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: rgb(167, 167, 167);
    color: grey;
}