body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
}
.box{
    padding: 10px;
}
button{
    margin:8px;
}
.red{
    color: rgb(255, 0, 0);
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color: blue;
}