*{
    box-sizing: border-box;
}
.row{
    border:solid black 1px;
    height: 150px;
    font-size: 0px;
}
.row2{
    border:solid black 2px;
    height: 50%;
}
.col{
    border:solid black 2px;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}
.col2{
    border:solid black 2px;
    display: inline-block;
    height: 100%;
    width: 50%;
}